* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}
section {
    padding: 80px 20px;
}
#skills {
    background-color: #1e293b;
}
#about{
    background-color: #1e293b;
}
#contact {
    background-color: #1e293b;
}